.header {
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 10px;
  color: black;
}

.text {
  font-size: 1.25rem;
  text-align: justify;
  color: black;
}

.list-group-item a {
  text-decoration: none;
}
