<div class="mb-4">
  <button class="btn__link btn__link--green" (click)="getProjects()">All</button>
  <button class="btn__link btn__link--green" (click)="js()">HTML/CSS/JS</button>
  <button class="btn__link btn__link--green" (click)="angular()">Angular</button>
  <button class="btn__link btn__link--green" (click)="wordpress()">Wordpress</button>
</div>

<div class="projects-container">
  <app-portfolio-card *ngFor="let project of projectFiltered" [portfolio]="project" class="project">
  </app-portfolio-card>
</div>
