.projects-container {
  // width: 90%;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // grid-gap: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}



