.container {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}

.card {
  // padding: 50px;
  border: none !important;
  background-color: transparent !important;
}

.about {
  margin-bottom: 20px;
  border: none;
  color: var(--main-text-color);
  border-radius: 10px;
  font-size: 1.5rem;

  &__text {
    transform: rotateY(40deg);
    &__one {
      background-color: var(--other-color-two);
      color: #fff;
      padding: 10px;
    }
    &__two {
      background-color: var(--other-color-three);
      color: #fff;
      padding: 10px;
    }
    &__three {
      background-color: var(--other-color-six);
      color: #fff;
      padding: 10px;
    }
  }

  a {
    color: #7b68ee;
  }
}

// .header {
//   color: #eefbfb;
// }

.contact {
  color: #007cc7;
  background-color: #eefbfb;
}

.card__sub {
  // color: #007cc7;
  background-color: #eefbfb;
  margin-top: 20px;
  border-radius: 10px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(#000, 0.4);
    transform: rotate(0.1deg) scale(1.05);
  }
}

#card__one {
  border-left: 5px solid var(--other-color-one);
  box-shadow: 0 5px 15px rgb(16 30 54 / 10%);
  margin-bottom: 30px;
  h4 {
    background-color: var(--other-color-one);
    color: #fff;
    border-radius: unset !important;
  }

  h5 {
    color: var(--header-text-color);
  }

  h6,
  .muted {
    color: var(--main-text-color);
    font-weight: 600;
  }

  .more {
    color: #7b68ee;
    text-decoration: underline;
    cursor: pointer;
  }
}
#card__two {
  border-left: 5px solid var(--other-color-two);
  box-shadow: 0 5px 15px rgb(16 30 54 / 10%);
  margin-bottom: 30px;
  h4 {
    background-color: var(--other-color-two);
    color: #fff;
    border-radius: unset !important;
  }

  h5 {
    color: var(--header-text-color);
  }

  h6,
  .muted {
    color: var(--main-text-color);
    font-weight: 600;
  }

  .more {
    color: var(--other-color-two);
    text-decoration: underline;
    cursor: pointer;
  }
}
#card__three {
  border-left: 5px solid var(--other-color-three);
  box-shadow: 0 5px 15px rgb(16 30 54 / 10%);
  margin-bottom: 30px;
  h4 {
    background-color: var(--other-color-three);
    color: #fff;
    border-radius: unset !important;
  }

  h5 {
    color: var(--header-text-color);
  }

  h6,
  .muted {
    color: var(--main-text-color);
    font-weight: 600;
  }

  .more {
    color: var(--other-color-three);
    text-decoration: underline;
    cursor: pointer;
  }
}
#card__four {
  border-left: 5px solid var(--other-color-four);
  box-shadow: 0 5px 15px rgb(16 30 54 / 10%);
  margin-bottom: 30px;
  h4 {
    background-color: var(--other-color-four);
    color: #fff;
    border-radius: unset !important;
  }

  h5 {
    color: var(--header-text-color);
  }

  h6,
  .muted {
    color: var(--main-text-color);
    font-weight: 600;
  }

  .more {
    color: var(--other-color-four);
    text-decoration: underline;
    cursor: pointer;
  }
}
#card__five {
  border-left: 5px solid var(--other-color-five);
  box-shadow: 0 5px 15px rgb(16 30 54 / 10%);
  margin-bottom: 30px;
  h4 {
    background-color: var(--other-color-five);
    color: #fff;
    border-radius: unset !important;
  }

  h5 {
    color: var(--header-text-color);
  }

  h6,
  .muted {
    color: var(--main-text-color);
    font-weight: 600;
  }

  .more {
    color: var(--other-color-five);
    text-decoration: underline;
    cursor: pointer;
  }
}
#card__six {
  border-left: 5px solid var(--other-color-six);
  box-shadow: 0 5px 15px rgb(16 30 54 / 10%);
  margin-bottom: 30px;
  h4 {
    background-color: var(--other-color-six);
    color: #fff;
    border-radius: unset !important;
  }

  h5 {
    color: var(--header-text-color);
  }

  h6,
  .muted {
    color: var(--main-text-color);
    font-weight: 600;
  }

  .more {
    color: var(--other-color-six);
    text-decoration: underline;
    cursor: pointer;
  }
}

svg {
  height: 30px;
  width: 30px;
  margin-right: 40px;
  transition: all 0.2s;
  fill: white;
  color: var(--other-color-one);
  &:hover {
    transform: scale(2);
  }
}

.dev-icons {
  padding: 20px;
  display: flex;
  // justify-content: flex-start;
  align-items: center;

  .fab {
    margin-right: 40px;
    color: var(--other-color-one) !important;
  }
}

.contact {
  margin-top: 20px;
  margin-bottom: 200px;
  background: transparent;
}

.contact-icons {
  display: flex;
  // justify-content: space-evenly;
  align-items: center;
  // padding: 1rem;

  .fab,
  .fas {
    color: var(--other-color-one);
    transition: all 0.5s;
    margin-right: 40px;

    &:hover {
      transform: scale(2);
    }
  }
}

@media only screen and (max-width: 425px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact {
    margin-bottom: 50px;
  }

  .card {
    padding: 20px !important;
  }

  .about {
    padding: 20px;
  }

  .card-header {
    padding: 0.5rem 1rem;
  }

  .card-body {
    padding: 1rem;
  }

  .text {
    font-size: 1.25rem;
    text-align: justify;
  }

  .dev-icons {
    .fab {
      margin-right: 10px;
    }
  }

  .contact-icons {
    .fab,
    .fas {
      margin-right: 10px;
    }
  }

  .dev-icons {
    padding: 0;

    svg {
      margin-right: 25px;
    }
  }

  .fa-2x,
  .fa-3x {
    font-size: 2em !important;
  }
}
