<div class="container">
  <div class="about card">
    <h1 class="header text-center">More About Me</h1>
    <p class="text">I've always been drawn to the overlap between design and development. My skills are broad: from UI
      design to front-end development and I enjoy each aspect, and I love building sites from start to finish. I'm available for remote work - if you would like to build something together, <a
        routerLink="/contact">get in touch?</a></p>

  </div>
  <div class="work card">
    <div class="card border-success mb-3" style="max-width: 100%;">
      <div class="card-header bg-transparent border-success">Header</div>
      <div class="card-body text-success">
        <h5 class="card-title">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      <div class="card-footer bg-transparent border-success">Footer</div>
    </div>
  </div>
</div>
