<div class="container">
  <div class="about card">
    <h1 class="header mb-3 "> <span class="about__text__one">About</span> Me</h1>
    <p class="text">Passionate Front-end developer with over 3 years of experience working with Angular to develop
      efficient code for products and businesses ranging from marketing websites to complex solutions and enterprise
      applications with a focus on fast, elegant, and accessible user experiences. An enthusiastic team player, problem
      solver, and deep creative thinker. I build all aspects of the user experience and user interface for client-facing
      landing pages. Able to effectively self-manage during independent projects, as well as collaborate as part of a
      productive team. I'm
      available for remote work - if you would like to build something together, <a href="tel:+2349051450310">get in
        touch?</a></p>

    <div class="dev-icons">
      <i class="fab fa-2x fa-html5"></i>
      <i class="fab fa-2x fa-css3-alt"></i>
      <i class="fab fa-2x fa-sass"></i>
      <i class="fab fa-2x fa-js"></i>
      <i class="fab fa-2x fa-angular"></i>
      <i class="fab fa-2x fa-wordpress"></i>
    </div>

  </div>
  <div class="codewar-badge">
    <img src="https://www.codewars.com/users/lawaldare/badges/large" alt="codewar badge">
  </div>
  <div class="card p-0 py-5">
    <h1 class="header  mb-3"><span class="about__text__two">Work</span> Experience</h1>
    <div class="row">
      <div class="col-sm-6" *ngFor="let job of jobs">
        <div id="card" [ngStyle]="{'border-left': '5px solid', 'border-color':job.themeColor}">
          <h4 class="card-header" [ngStyle]="{'background-color': job.themeColor}">{{ job.title }}</h4>
          <div class="card-body">
            <h5 class="card-title">{{ job.companyName }}</h5>
            <h6 class="card-title">{{ job.location }}</h6>
            <p class="card-text muted">{{ job.date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="contact card">
    <h1 class="header  mb-3"><span class="about__text__three">Contact</span> Me</h1>
    <div class="contact-icons">
      <a href="https://www.facebook.com/lawal.dare" target="_blank" class="contact-icon-link">
        <i class="fab fa-3x fa-facebook-square"></i>
      </a>
      <a href="https://twitter.com/lawaldarekayode " target="_blank" class="contact-icon-link">
        <i class="fab fa-3x fa-twitter-square"></i>
      </a>
      <a href="https://www.linkedin.com/in/dare-lawal/" target="_blank" class="contact-icon-link">
        <i class="fab fa-3x fa-linkedin"></i>
      </a>
      <a href="https://github.com/lawaldare" target="_blank" class="contact-icon-link">
        <i class="fab fa-3x fa-github-square"></i>
      </a>
      <a href="mailto:lawaldare@gmail.c om" target="_blank" class="contact-icon-link">
        <i class="fas fa-3x fa-envelope"></i>
      </a>
      <a href="tel:+2349051450310" target="_blank" class="contact-icon-link">
        <i class="fas fa-3x fa-phone"></i>
      </a>
      <a href="https://www.instagram.com/lawaldarekayode/" target="_blank" class="contact-icon-link">
        <i class="fab fa-3x fa-instagram"></i>
      </a>
    </div>
  </div>
</div>
