.container {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}

.card {
  padding: 50px;
  background-color: transparent;
}

.about {
  margin-bottom: 20px;
  border: none;
  color: #007cc7;
  background-color: #eefbfb;
  border-radius: 10px;
  font-size: 1.5rem;
}

.contact {
  color: #007cc7;
  background-color: #eefbfb;
}

.card__sub {
  color: #007cc7;
  background-color: #eefbfb;
  margin-top: 20px;
  border-radius: 10px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(#000, 0.4);
    transform: rotate(0.1deg) scale(1.05);
  }
}

svg {
  height: 30px;
  width: 30px;
  margin-right: 40px;
  transition: all 0.2s;
  fill: white;
  &:hover {
    transform: scale(2);
  }
}

.dev-icons {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.gsap-logo {
  height: 30px;
  width: 100px;
}

.contact {
  margin-top: 20px;
  margin-bottom: 200px;
}

.contact-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;

  .contact-icon {
    display: inline;
    margin-right: 1rem;
    height: 30px;
    width: 30px;
    transition: all 0.3s;

    &:hover {
      transform: scale(2);
    }
  }
}

@media only screen and (max-width: 425px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact {
    margin-bottom: 50px;
  }

  .card {
    padding: 0;
  }

  .about {
    padding: 20px;
  }

  .card-header {
    padding: 0.5rem 1rem;
  }

  .card-body {
    padding: 1rem;
  }

  .header {
    font-size: 2rem;
  }

  .text {
    font-size: 1.25rem;
    text-align: justify;
  }

  .dev-icons {
    padding: 0;

    svg {
      margin-right: 25px;
    }
  }
}
