.container {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}

.card {
  border: none !important;
  background-color: transparent !important;
}

.about {
  margin-bottom: 20px;
  border: none;
  color: var(--main-text-color);
  border-radius: 10px;
  font-size: 16px;

  &__text {
    transform: rotateY(40deg);
    &__one {
      background-color: var(--other-color-two);
      color: #fff;
      padding: 10px;
    }
    &__two {
      background-color: var(--other-color-three);
      color: #fff;
      padding: 10px;
    }
    &__three {
      background-color: var(--other-color-six);
      color: #fff;
      padding: 10px;
    }
  }

  a {
    color: #7b68ee;
  }
}

// .header {
//   color: #eefbfb;
// }

.contact {
  color: #007cc7;
  background-color: #eefbfb;
}

.card__sub {
  // color: #007cc7;
  background-color: #eefbfb;
  margin-top: 20px;
  border-radius: 10px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 1rem 2rem rgba(#000, 0.4);
    transform: rotate(0.1deg) scale(1.05);
  }
}

svg {
  height: 30px;
  width: 30px;
  margin-right: 40px;
  transition: all 0.2s;
  fill: white;
  color: var(--other-color-one);
  &:hover {
    transform: scale(2);
  }
}

.dev-icons {
  padding: 20px;
  display: flex;
  align-items: center;

  .fab {
    margin-right: 40px;
    color: var(--other-color-one) !important;
  }

  .rxjs,
  .ngrx {
    height: 30px;
    width: 30px;
    transition: all 0.5s;

    &:hover {
      transform: scale(2);
    }
  }

  .rxjs {
    margin-right: 40px;
  }
}

.contact {
  margin-top: 20px;
  margin-bottom: 200px;
  background: transparent;
}

.contact-icons {
  display: flex;
  align-items: center;

  .fab,
  .fas {
    color: var(--other-color-one);
    transition: all 0.5s;
    margin-right: 40px;

    &:hover {
      transform: scale(2);
    }
  }
}

@media only screen and (max-width: 425px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .contact {
    margin-bottom: 50px;
  }

  .card {
    padding: 20px !important;
  }

  .about {
    padding: 20px;
  }

  .card-header {
    padding: 0.5rem 1rem;
  }

  .card-body {
    padding: 1rem;
  }

  .text {
    font-size: 1.25rem;
    text-align: justify;
  }

  .dev-icons {
    svg {
      margin-right: 10px;
    }
  }

  .contact-icons {
    svg {
      margin-right: 20px;
    }
  }

  .dev-icons {
    padding: 0;

    svg {
      margin-right: 25px;
    }
  }

  .fa-2x,
  .fa-3x {
    font-size: 2em !important;
  }
}
