.navbar-brand,
.nav-link,
.nav-item {
  color: #55c57a !important;
}

.navbar-brand {
  font-family: 'Bungee Inline', cursive;
  font-size: 1.5rem;
}

.nav-link, .navbar-brand {
  font-size: 1.5rem;
  font-weight: bolder;
  &:not(:last-child){
    margin-right: 20px !important;
  }
  &:link,
  &:visited {
      color: #f7f7f7;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
  }

  &:hover,
  &:active {
      color: #ff7730 !important;
      background-color: #fff;
      box-shadow: 0 1rem 2rem rgba(#000, .4);
      transform: scale(1.2);
  }
}

.nav-item {
  padding: 0 20px;
}

.router-link-active {
  color: #ff7730;
}


@media (max-width: 425px){
  .nav-link, .navbar-brand {

    &:hover,
    &:active {
        color: #ff7730 !important;
        background-color: #fff;
        box-shadow: 0 1rem 2rem rgba(#000, .4);
        transform: unset;
    }
  }
}
