.header {
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: 700;
}

.text {
  font-size: 1.25rem;
  text-align: justify;
}

.row {
  margin: 0 !important;
}

.card {
  width: 100% !important;

  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #007bff;
    cursor: pointer;
  }
}
