<div class="background-container">
  <img src="../../../assets/images/moon.png" alt="moon">
  <div class="header-text container">
    <span class="text first-text">I am <span class="name d-inline-block">Dare Lawal,</span></span>
    <span class="text second-text">a frontend developer</span>
    <div class="buttons">
    <a [routerLink]="['/portfolio']" class="btn__link btn__link--green">portfolio &rarr;</a>
    <a href="https://drive.google.com/open?id=1bX6de2z24Kb0XIfOEAT4MDk6LQN1QVPL" target="_blank" class="btn__link btn__link--green text-white">Download resume &rarr;</a>
    </div>
  </div>
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div>
