<!-- <div class="background-container"> -->
<!-- <img src="../../../assets/images/moon.png" alt="moon"> -->
<div class="header-text d-flex flex-column justify-content-center align-items-center">
  <span class="text first-text text-center" #mainHeader>I am <span class="name d-inline-block">Dare Lawal,</span></span>
  <span class="text second-text text-center tw" #tw></span>
  <div class="buttons" #buttons>
    <a [routerLink]="['/portfolio']" class="btn__link btn__link--green" id="left-button">portfolio&nbsp;
      <i class="fas fa-paper-plane"></i></a>
    <a href="https://drive.google.com/file/d/1JuDJFfYdWKnKN76DANIk9om3AH3TsEq5/view?usp=sharing" target="_blank"
      class="btn__link btn__link--green text-white" id="right-button"><i
        class="fas fa-download"></i>&nbsp;&nbsp;Download
      resume</a>
  </div>

  <!-- </div> -->
  <!-- <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div> -->
