@font-face {
  font-family: "Dank Mono";
  src: url("../font/Dank_Mono/Dank_Mono_Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Sky";
  src: url("../font/sky/sky-medium.ttf") format("truetype");
  font-style: normal;
}
