@font-face {
  font-family: "IBM Plex Sans";
  src: url("../font/ebi/IBMPlexSans-Regular.84703a00.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../font/ebi/IBMPlexSans-Medium.e619b948.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
