/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark-3: #333;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.body {
  background-color: #12232e;
}

@media only screen and (max-width: 991px) {
  .navbar-light .navbar-toggler-icon {
    background: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after,
    &::before {
      content: "";
      display: block;
      background-color: #55c57a;
      height: 4px;
      width: 100%;
      margin: 5px;
    }
  }
}
