//import font
@import "./assets/css/fonts.scss";

:root {
  --header-text-color: #292d34;
  --main-text-color: #7c828d;
  --other-color-one: #7b68ee;
  --other-color-two: #fd71af;
  --other-color-three: #49ccf9;
  --other-color-four: #ffc800;
  --other-color-five: #00b884;
  --other-color-six: #fd7171;
}

.header {
  color: var(--header-text-color);
  font-size: 50px;
  line-height: 69px;
  font-weight: bold;

  @media only screen and (max-width: 425px) {
    font-size: 40px;
  }
}

.d-inline-block {
  text-transform: capitalize;
}

*:not(i) {
  font-family: "Axiforma", sans-serif !important;
  padding: 0;
  margin: 0;
}

.body {
  background-color: #fafbfc;
}

.modal-backdrop {
  background-color: #161c2d;
  &.show {
    opacity: 0.8;
  }
}

.modal {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.modal-dialog {
  width: 100% !important;
}

@media only screen and (max-width: 991px) {
  .navbar-light .navbar-toggler-icon {
    background: none !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::after,
    &::before {
      content: "";
      display: block;
      background-color: #55c57a;
      height: 4px;
      width: 100%;
      margin: 5px;
    }
  }
}
